<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ContactsBox</title>
        <link rel="stylesheet" href="style.css" />
        <title>ContactBox</title>
</head>
<body>
    <h1>Hello on ContactsBox</h1><br>

    <div>
    <a href="{{ path('showAllUsers') }}">Main page</a>
    <a href="{{ path('newUser') }}">Add new contact</a>
    <a href="{{ path('newGroup') }}">Create new group</a>
    <a href="{{ path('showAllGroups') }}">Group list</a>
    </div><br>

    <div>{% block content %}{% endblock %}</div><br>
</body>
</html>